@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.google.com/specimen/Public+Sans');

:root{
    --font-1: 'Crimson Pro', serif;
    --font-2: 'Montserrat', sans-serif;
    --font-3: 'Lora', serif;
    --font-4: 'Montserrat', sans-serif;
    --font-5: 'Playfair Display', serif;
    --font-6: 'Poppins', sans-serif;
    --font-7: 'Public Sans', sans-serif;
    --themeColor: #333333;
    --darkColor:#100E1D;
    --whiteColor: #fff;
    --lightDarkColor: #F2F2F2;
    --linkcolor: #2D9CDB;
    --linkfocus: #70b4db;
    --redcolor: #EB5757;
    --graycolor: #808080;
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --BrightCyan: hsl(192, 70%, 51%);
    --GrayishBlue: hsl(233, 8%, 62%);
    --LightGrayishBlue: hsl(220, 16%, 96%);
    --VeryLightGray: hsl(0, 0%, 98%);
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin-left: 0;
    width: 100%;
    color: var(--themeColor);
    background-color: var(--whiteColor);
    font-family: var(--font-6);
    overflow-x: hidden;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: var(--whiteColor);
    z-index: 99;
}

header .nav ul {
    list-style: none;
}

header .nav ul li {
    display: inline;
    margin-right: 30px;
}

header .nav ul li:last-child {
    margin-right: 0;
}

header .nav ul li a {
    text-decoration: none;
    position: relative;
    color: var(--graycolor);
}

header .nav ul li a:hover {
    color: var(--LimeGreen);
}

header .nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -16px;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: all 0.3s;
    width: 100%;
    height: 3px;
    background: var(--LimeGreen);
}

header .nav ul li:hover a::before {
    transform: scaleX(1);
}

header .nav i {
    display: none;
}

header .brg {
    display: none;
}

header .button {
    width: 150px;
    text-align: center;
    background-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
    border-radius: 20px;
    padding: 5px 0;
}

header .button:hover {
    background-image: linear-gradient(to right, hsla(136, 65%, 51%, 0.7), hsla(192, 70%, 51%,0.5));
}

header .button a {
    text-decoration: none;
    color: var(--whiteColor);
}

main {
    margin-top: 210px;
}

main .one {
    margin-bottom: 190px;
}

main .one .txt {
    width: 430px;
    position: relative;
    left: 10%;
}

main .one .txt h1 {
    font-size: 50px;
}

main .one .txt p {
    color: var(--graycolor);
    line-height: 30px;
}

main .one .txt .button {
    width: 150px;
    text-align: center;
    background-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
    border-radius: 20px;
    padding: 5px 0;
}

main .one .txt .button:hover {
    background-image: linear-gradient(to right, hsla(136, 65%, 51%, 0.7), hsla(192, 70%, 51%,0.5));
}

main .one .txt .button a {
    text-decoration: none;
    color: var(--whiteColor);
}

main .one .image .imgone {
    display: none;
}

main .one .image .imgoneprime {
    position: absolute;
    top: -220px;
    left: 35%;
}

main .one .image .imgtwo {
    position: absolute;
    top: -80px;
    left: 50%;
}

main .two {
    background-color: var(--VeryLightGray);
    padding-left: 10%;
    padding-top: 50px;
}

main .two .txtone {
    width: 650px;
}

main .two .txtone h1 {
    font-size: 45px;
}

main .two .txtone p {
    margin-top: -10px;
    color: var(--graycolor);
}

main .two .flx {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

main .two .flx .card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 260px;
    height: 300px;
}

main .two .flx .card p {
    font-size: 15px;
    line-height: 30px;
}

main .blg {
    margin-bottom: 100px;
}

main .blg .txt {
    padding-left: 10%;
    padding-top: 50px;
}

main .blg {
    width: 100%;
}

main .blg .txt h1 {
    font-size: 40px;
}

main .blg .flx {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main .blg .flx .card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0px 0px 11px 1px var(--lightDarkColor);
    transition: all 0.3s;
    cursor: pointer;
}

main .blg .flx .card:hover {
    transform: scale(1.03);
}


main .blg .flx .card .image {
    width: 250px;
    height: 200px;
}

main .blg .flx .card .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main .blg .flx .card .descp p {
    color: var(--graycolor);
    font-size: 12px;
}

main .blg .flx {
    font-size: 13px;
}

footer {
    position: relative;
    bottom: -18px;
    width: 100%;
    background-color: var(--DarkBlue);
    color: var(--whiteColor);
}

footer a {
    text-decoration: none;
    color: var(--whiteColor);
    margin-right: 10px;
}

footer img {
    background-image: var(--LimeGreen);
}


footer .flx {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 20px;
}

footer .flx .one {
    width: 300px;
}

footer .flx .one li {
    list-style: none;
    line-height: 40px;
}


footer .flx .one li a:hover{
    color: var(--LimeGreen);
}

footer .flx .button {
    width: 150px;
    text-align: center;
    background-image: linear-gradient(to right, var(--LimeGreen), var(--BrightCyan));
    border-radius: 20px;
    padding: 5px 0;
}

footer .flx .one .button:hover {
    background-image: linear-gradient(to right, hsla(136, 65%, 51%, 0.7), hsla(192, 70%, 51%,0.5));
    color: var(--whiteColor);
}

footer .foot {
    margin: 0 auto;
}

footer .foot .end {
    text-align: center;
    padding-bottom: 5px;
}

@media screen and (max-width: 767px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    header .button {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
        height: 50px;
    }

    header .brg {
        display: block;
    }

    header .nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        border-radius: 10px;
        top: 80px;
        width: 90%;
        background-color: var(--whiteColor);
        box-shadow: 0px 0px 110px 5px black;
        opacity: 0;
        pointer-events: none;
    }

    header .navig {
        opacity: 1;
        pointer-events: painted;
    }

    header .nav ul li {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 200px;
        font-size: 30px;
        line-height: 50px;
    }

    header .nav ul li a {
        color: black;
        justify-content: center;
    }

    header .nav ul li a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: -5px;
        transform: scaleX(0);
        transform-origin: bottom;
        transition: all 0.3s;
        width: 100%;
        height: 3px;
        background: var(--LimeGreen);
    }

    header .nav i {
        display: block;
        position: absolute;
        left: 90%;
        top: 5%;
    }

    main .one .txt {
        margin-top: 500px;
    }

    main .one .image .imgoneprime {
        display: none;
    }

    main .one .image .imgone {
        display: block;
        position: absolute;
        width: 100%;
        top: 50px;
    }

    main .one .image .imgone img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main .one .image .imgtwo {
        position: absolute;
        left: 10%;
        top: -50px;
        width: 100%;
    }

    main .one .image .imgtwo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main .one .txt {
        width: 90%;
    }

    main .two .txtone {
        width: 90%;
    }

    main .blg .flx .card {
        margin-bottom: 20px;
    } 

    footer {
        padding-top: 50px;
    }

    footer .flx .one{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    footer .flx .listed{
        margin-left: -7%;
    }

    footer .flx .button {
        margin: 0 auto;
    }
}
